.text-editor.bold{
    font-weight: 800;

}
.text-editor.underline{
    text-decoration: underline;
    
}
.text-editor.italic{
    font-style: italic;
    
}
.text-bold.active,.underline-text.active,.italic-text.active{
    background-color: rgb(7, 14, 119);

}

